# Python
__pycache__/
*.pyc
*.pkl
venv/
.env

# Data files
collected_data/
*.csv

# Java build
target/
*.class

# IDE
.idea/
*.iml

# Not needed
python-ml/collect_person_A.py
python-ml/collect_person_B.py
python-ml/extract_features.py
python-ml/extract_features_v2.py
python-ml/train_model.py
python-ml/.idea/
python-ml/__pycache__/
python-ml/collected_data/
python-ml/processed_data/
dashboard/
docker/
data/